@import './src/styles/variables';

.table {
  max-width: 500px;
}

.table {
  font-size: 1rem;
  border: 1px solid $grey-1;
  border-spacing: 0;
  width: 100%;
}

.table__caption {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.table__th,
.table__td {
  padding: 10px;
  text-align: left;
}

.table__th {
  font-weight: bold;
}

.table__tr {
  &:nth-child(even) {
    background-color: $grey-1;
  }
}
